.item-title {
    margin-bottom: 0.25rem;
    font-weight: 600;
  }
  
  .item-link {
    color: #9ca3af; /* text-gray-400 */
    transition-duration: 300ms;
    font-size: 0.875rem; /* text-sm */
    cursor: pointer;
    line-height: 1.5rem; /* leading-6 */
  }
  
  .item-link:hover {
    color: #14b8a6; /* text-teal-400 */
  }
  