@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Timmana&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-inter bg-primary text-creme;
  }
  .h1 {
    @apply text-[48px] xl:text-[80px] leading-[1.1] font-semibold;
  }
  .h2 {
    @apply text-[36px] xl:text-[48px] leading-[1.1] font-semibold;
  }
  .h3 {
    @apply text-[20px] xl:text-[24px] leading-[1.1] font-semibold;
  }
  .hero_image {
    -webkit-mask-image: url(/src/assets/hero.svg);
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: cover;
  }
  .mask-image {
    position: relative;
    overflow: hidden;
  }
  
  .mask-image::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background: linear-gradient(to top, black 70%, transparent 100%);
    z-index: 1;
  }
  
  .mask-image img {
    display: block;
    width: 100%;
    height: auto;
    position: relative;
    z-index: 0;
  }
  .blue__gradient {
    background: linear-gradient(
      180deg,
      rgba(188, 165, 255, 0) 0%,
      #214d76 100%
    );
    filter: blur(123px);
  }

  .pink__gradient {
    background: linear-gradient(90deg, #f4c4f3 0%, #fc67fa 100%);
    filter: blur(900px);
  }

  .white__gradient {
    background: rgba(255, 255, 255, 0.6);
    filter: blur(750px);
  }
}
